*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.background{
    width: 100%;
    background-color: white;
}
nav h1{
    margin-left: 10%;
}

nav{
width:80%;
}
nav a{
text-decoration: none;
color:black;
transition: all ease-in-out 150ms;
}
nav a:hover{
color: #2696E9;


}
nav li{
display:flex;
list-style: none;
}
nav ul{
    display:flex;
}

.secondNav{
    display: none;
}
.secondNav ul{
    width:100%;
    vertical-align: center;
    display:flex;
    list-style: none;
    justify-content: space-between;
}
.secondNav h1{
display:flex;
justify: right;
}
.secondNav svg{
display:flex;
justify:left;
    width: 3rem;
    height: 3rem;
}
.Container{
    width: 80%;
    text-align: center;
}
.sign-up{
    width:20%;
    text-align:left;
}
.birthdate input{
    display:block;
    width: 72%;
    text-align: left;
    margin: 0;
}